<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/weatherlisting">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Time Stamp</label>
        <div class="form-control">{{sensorReg.timeStamp}}</div>
      </div>
      <div class="form-group">
        <label>Flow</label>
        <div class="form-control">{{sensorReg.flow}}</div>
      </div>
      <div class="form-group">
        <label>Pressure</label>
        <div class="form-control">{{sensorReg.pressure}}</div>
      </div>
    </div>
  </div>
