<div class="col-sm-4">
  <label for="sort-field">Sort By</label>
  <select class="form-control" name="sort-field" id="sort-field"[(ngModel)]="sortField">
    <option *ngFor="let field of sortFields" [value]="field">{{ field }}</option>
  </select>
</div>

<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>ID</th>
        <th>Time</th>
        <th>Flow</th>
        <th class="text-right">Pressure</th>
      </tr>
      <tr *ngFor="let sensor of sensors.slice(lowerlimit, upperlimit) | sortBy: [sortField];">
        <td>
          <a [routerLink]="['/weatherlisting/view', sensor.id]">{{sensor.id}}</a>
        </td>
        <td>
          {{sensor.timeStamp}}
        </td>
        <td>
          {{sensor.flow}}
        </td>
        <td class="text-right">
          {{sensor.pressure}}
        </td>
      </tr>
    </table>
    <button type="submit" (click)="nextPage()">Next</button>
  </div>
<app-bar-chart></app-bar-chart>
