.container{
    padding-top: 200px;
}

.has-info {
    color: red;
}

button {
    cursor: pointer;
}

@media only screen and (min-width: 320px) {
    .container {
        padding-top: 50px;
    }

    .login {
        margin-top: 10px;
        margin-left: 90px;
    }

    .has-info {
        font-size: 1em;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        padding-top: 100px;
    }
    .login {
        margin-top: 20px;
        margin-left: 420px;
    }
    .has-info {
        font-size: 1.25em;
        margin-left: 120px;
    }
    .form-control {
        width: 30%;
        margin-left: 300px;
    }
    .username {
        margin-left: 300px;
    }
    .password {
        margin-left: 300px;
    }
}
