<div class="container">

    <form [formGroup]="loginform" (ngSubmit)="validateLogin()" novalidate>
        <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>

        <label class="username" for="uname"><b>Username</b></label>
        <input type="text" class="form-control" formControlName="username" required autofocus>

        <label class="password" for="psw"><b>Password</b></label>
        <input type="password" class="form-control" formControlName="password" required>

        <button type="submit" class="login"><i *ngIf="buttonLoad" class="fa fa-spinner fa-spin" aria-hidden="true"></i>Login</button>
    </form>
    
  </div>
